@{ 
    Layout = null;
}


<!DOCTYPE html>
<!-- saved from url=(0094)http://demo.bonefishcode.com/acrux/template/dark-black-overlay/dark-img-cloud-audio/index.html -->
<html class="no-js fixed desktop landscape non-mobile" lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>ALONI API</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/color.css">
    <link rel="stylesheet" href="~/Content/custom.css">
    <style id="js-css">
        .light #overlay {
            background-color: rgba(255, 255, 255, 0.4);
        }

        .light #form {
            background-color: rgba(62, 68, 89, 0.8);
        }

        .dark #overlay {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .dark #form {
            background-color: rgba(0, 0, 0, 0.8);
        }
    </style>
</head>
<body class="dark is-border is-img is-cloud bottom-cloud volume-on">
    <!-- loader -->
    <!-- loader -->
    <!-- /demo panel -->
    <!-- /demo panel -->
    <!-- site wrap -->
    <div id="site-wrap" class="" style="transform: translateY(0px);">
        <!-- backgeound -->
        <div id="bg">
            <div id="img"></div>

            <div id="overlay"></div>
            <div id="effect" style="opacity: 0.3;">
                <img src="~/Content/cloud-01.png" alt="" id="cloud1" class="velocity-animating" style="left: -160.332px;">
                <img src="~/Content/cloud-02.png" alt="" id="cloud2" class="velocity-animating" style="left: 1071.13px;">
                <img src="~/Content/cloud-03.png" alt="" id="cloud3" class="velocity-animating" style="left: -318.385px;">
                <img src="~/Content/cloud-04.png" alt="" id="cloud4" class="velocity-animating" style="left: -334.715px;">
            </div>

        </div>
        <!-- /background -->
        <!-- site header -->
        <header id="site-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- header brand -->
                        <!-- header brand -->
                        <!-- header toggle-->
                        <!-- /header toggle -->
                    </div>
                </div>
            </div>
        </header>
        <!-- /site header -->
        <!-- subscribe -->
        <div id="form" class="ps-container" data-ps-id="a6342bfc-ed24-cb6c-3da2-aaad4d74443c">
            <div id="subscribe">
                <div class="tb-cell">
                    <p class="animation section-subtitle">Subscribe to get notified.</p>
                    <h2 class="section-title">Newsletter</h2>
                    <!-- subscribe form -->
                    <form id="form-subscribe" class="form-lg container" novalidate="novalidate">
                        <input type="text" name="email" class="form-control" placeholder="Email address">
                        <button type="submit">
                            <i class="ion-email"></i>
                        </button>
                    </form>
                    <!-- /subscribe form -->
                </div>
            </div>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
        </div>
        <!-- /subscribe -->
        <!-- site main -->
        <main id="site-main">
            <!-- home -->
            <section id="home" class="ps-container" data-ps-id="0c745781-f5e1-c90e-090f-5170f074298c">
                <div class="section-wrap">
                    <div class="section-cell">
                        <div class="container">
                            <!-- section header -->
                            <div class="section-header row text-center">
                                <div class="col-xs-12">
                                    <p class="animation section-subtitle" aria-label="Be ready, we are launching soon."><span class="word word1" aria-hidden="true" aria-label="Be" style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">B</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">e</span></span> <span class="word word2" aria-hidden="true" aria-label="ready," style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">r</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">e</span><span class="char char3" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">a</span><span class="char char4" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">d</span><span class="char char5" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">y</span><span class="char char6" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">,</span></span> <span class="word word3" aria-hidden="true" aria-label="we" style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">w</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">e</span></span> <span class="word word4" aria-hidden="true" aria-label="are" style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">a</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">r</span><span class="char char3" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">e</span></span> <span class="word word5" aria-hidden="true" aria-label="launching" style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">l</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">a</span><span class="char char3" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">u</span><span class="char char4" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">n</span><span class="char char5" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">c</span><span class="char char6" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">h</span><span class="char char7" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">i</span><span class="char char8" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">n</span><span class="char char9" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">g</span></span> <span class="word word6" aria-hidden="true" aria-label="soon." style="display: inline-block;"><span class="char char1" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">s</span><span class="char char2" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">o</span><span class="char char3" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">o</span><span class="char char4" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">n</span><span class="char char5" aria-hidden="true" style="opacity: 1; display: inline-block; transform: translateY(0px);">.</span></span> </p>
                                    <h1 class="section-title">
                                        @Html.ActionLink("API Documentation", "Index", "Help", new { area = "" }, null)
                                    </h1>
                                    <div class="animation section-divider" style="opacity: 1; transform: scaleX(1);"></div>
                                </div>
                            </div>
                            <!-- /setion header -->
                            <!-- section main -->
                            <div class="section-main row">
                                <div class="col-xs-12">
                                    <!-- countdown -->
                                    <div id="countdown" class="animation-04">
                                        <div class="row">
                                            <div class="col-xs-3 col-countdown" style="opacity: 1; display: inline-block; transform: translateY(0px);">
                                                <div class="countdown-section">
                                                    <div class="countdown-amount days">@ViewBag.Day</div>
                                                    <div class="countdown-period days_ref">Days</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-countdown" style="opacity: 1; display: inline-block; transform: translateY(0px);">
                                                <div class="countdown-section">
                                                    <div class="countdown-amount hours">@ViewBag.H</div>
                                                    <div class="countdown-period hours_ref">Hours</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-countdown" style="opacity: 1; display: inline-block; transform: translateY(0px);">
                                                <div class="countdown-section">
                                                    <div class="countdown-amount minutes">@ViewBag.M</div>
                                                    <div class="countdown-period minutes_ref">Minutes</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-countdown" style="opacity: 1; display: inline-block; transform: translateY(0px);">
                                                <div class="countdown-section">
                                                    <div class="countdown-amount seconds">@ViewBag.S</div>
                                                    <div class="countdown-period seconds_ref">Seconds</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /countdown -->
                                </div>
                            </div>
                            <!-- /setion main -->
                        </div>
                    </div>
                </div>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
            </section>
            <!-- /home -->
        </main>
        <!-- /site main -->
        <!-- site footer -->
        <!-- /site footer -->
        <!-- audio -->
        <audio id="audio-player" loop="">
            <source src="assets/audio/audio.mp3" type="audio/mpeg">
        </audio>
        <!-- audio -->
    </div>
    <!-- /site wrap -->
    <!-- script -->
    <script src="~/Content/jquery-2.1.4.min.js.download"></script>
    <!--[if lte IE 9]><!-->
    <script src="~/Content/html5shiv.min.js.download"></script>
    <!--<![endif]-->
    <script src="~/Content/bootstrap.min.js.download"></script>
    <script src="~/Content/vendor.js.download"></script>
    <script src="~/Content/variable.js.download"></script>
    <!-- /script -->

</body>
</html>